.containerRegisterButton {
    text-align: right;
    margin-right:2% ;
}

.buttonMargin {
    margin: 1rem;
}

.button-kruger-color {
    background-color: #f4ab77;
}

.header-background-img {
    /* width: 100%; */
    height: 20vh;
    background-color: orange;
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}

.header-img {
    /* width: 20rem; */
    margin-top: 20px;
    height: 15vh;
    background-color: orange;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}